:root {
  --grey-color:#8E8E8E;
  --white-color: #FFFFFF;
  --accent-color: #BB945F;
  --black-color:#000000;
  --dark-color:#0C0C0E;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--black-color);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
}
.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
[class*="__container"] {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding: 20px 0 40px;
}
.title {
  color: var(--dark-color);
  font-family: "Forum";
  font-size: 40px;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 61px;
  position: relative;
}
.title::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--dark-color);
  bottom: -21px;
  left: 28%;
}
.text {
  color: var(--black-color);
  text-align: center;
  line-height: 40px; 
}

/* ----- H E A D E R ----- */

.header {
  background: var(--dark-color);
  color: var(--white-color);
  padding: 20px 5px;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: "Forum";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.6px;
}
.header-menu {
  flex: 1 1 auto;
  margin-right: 40px;
}
.header-menu__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 31px;
  justify-content: flex-end;
}
.header-menu__item {
  line-height: 50px;
}
.header-menu__item:hover .header-menu__link {
  color: var(--accent-color);
}

.header__profile-icon {
  float: inline-end;
}

/* ----- W E L C O M E ----- */
.welcome {
  height: 600px;
  padding-top: 218px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url('./assets/images/welcome_bg.jpg') 0 50%/cover no-repeat;;
}
.welcome__container {
  padding: 0;
}
.welcome__title {
  width: 42%;
  padding: 35px 40px;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* ----- A B O U T ----- */

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__text {
  margin-bottom: 20px;
}
.slider__cards-container {
  display: flex;
  overflow: hidden;
  gap: 1.95%; /* 27/1440 */
  margin-bottom: 31px;
}
.slider__card {
  flex: 1 0 31.92%;
}
.pagination__items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__item {
  width: 26px;
  height: 26px;
  position: relative;
}
.pagination__item::after {
  position: absolute;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--dark-color);
  left: 20%;
  top: 20%;
  border-radius: 50%;
}
.pagination__item.active::after {
  background-color: var(--accent-color);
}

/* ----- Favorites ----- */
.favorites {
  padding-top: 17px;
}
.favorites__container {
  display: flex;
  flex-direction: column;
}
.favorites__title {
  align-self: center;
  margin-bottom: 58px
}
.favorites__title::after {
  left: 34%;
}
.favorites__sub-title {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-left: 5px;
  margin-bottom: 40px;
}
.favourite__seasons-wrap {
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-bottom: 40px;
}
.pick-season__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.pick-season__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  line-height: normal;
}
.pick-season__label:not(:last-child) {
  margin-right: 6.5%; /* 93/1440 */
}
.pick-season__label::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--black-color);
  border-radius: 50%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.pick-season__input:checked+label::before {
  background-image: url("./assets/icons/Group.png");
  border: 2px solid var(--black-color);
}
.pick-season__input:checked+label {
  font-weight: 700;
}
.pick-season__input:not(:disabled):not(:checked)+label:hover::before {
  border: 2px solid var(--black-color);
}
.pick-season__label::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: -12px;
  top: -7px;
  width: 140px;
  height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
}
.pick-season__label:hover::after {
  cursor: pointer;
}
.favourites__items-wrap {
  row-gap: 42px;
  display: flex;
  flex-direction: column;
}
.favorites__items {
  /* display: grid; */
  display: none;
  grid-template-columns: repeat(2, 39%);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 18.5%; /* 260/1440 */
  row-gap: 42px;
}
.favorites__item {
  position: relative;
  padding: 15px 25px 40px;
  border: 1px solid var(--black-color);
}
.picked-season {
  display: grid;
}
.book__staff-picks {
  position: relative;
  font-family: "Forum";
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.book__staff-picks::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
}
.book__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.book_author {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.book_summary {
  max-width: 355px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.book form {
  position: absolute;
  bottom: 11px;
  left: 24px;
}
.book__button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: all .5s ease 0s;
}
.book__button:hover {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.book__cover {
  display: inline-block;
  position: absolute;
  bottom: -10px;
  right: -45px;
}




@media (max-width: 991.98px) {

}

@media (max-width: 770px) {
  .favorites__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .favorites__item {
    width: 72%;
  }
  
}
@media (max-width: 550px) {

}
