:root {
  --grey-color:#8E8E8E;
  --white-color: #FFFFFF;
  --accent-color: #BB945F;
  --black-color:#000000;
  --dark-color:#0C0C0E;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--black-color);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
}
.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
[class*="__container"] {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ----- H E A D E R ----- */

.header {
  background: var(--dark-color);
  color: var(--white-color);
  padding: 20px 5px;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: "Forum";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.6px;
}
.header__menu {

}
.header-menu {
  flex: 1 1 auto;
  margin-right: 40px;
}
.header-menu__body {

}
.header-menu__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 31px;
  justify-content: flex-end;
}
.header-menu__item {
  line-height: 50px;
}
.header-menu__link {
}
.header__profile-icon {
  float: inline-end;
}

/* ----- W E L C O M E ----- */
.welcome {
  height: 600px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url('./assets/images/welcome_bg.jpg') 0 50%/cover no-repeat;;
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
  
}
@media (max-width: 550px) {

}
