:root {
  --grey-color:#8E8E8E;
  --white-color: #FFFFFF;
  --accent-color: #BB945F;
  --black-color:#000000;
  --dark-color:#0C0C0E;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--black-color);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
}
body.no-scroll {
  overflow: hidden;
}
.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
[class*="__container"] {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding: 20px 0 40px 5px;
}
.title {
  color: var(--dark-color);
  font-family: "Forum";
  font-size: 40px;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 61px;
  position: relative;
}
.title::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--dark-color);
  bottom: -21px;
  left: 28%;
}
.text {
  color: var(--black-color);
  text-align: center;
  line-height: 40px; 
}

/* ----- H E A D E R ----- */

.header {
  background: var(--dark-color);
  color: var(--white-color);
  padding: 20px 5px;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: "Forum";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.6px;
}
.header-menu {
  flex: 1 1 auto;
  margin-right: 40px;
}
.header-menu__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 31px;
  justify-content: flex-end;
}
.header-menu__item {
  line-height: 50px;
}
.header-menu__item:hover {
  cursor: pointer;
}
.header-menu__item:hover .header-menu__link {
  color: var(--accent-color);
}
.header__profile {
  position: relative;
}
.header__profile-icon {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all .3s;
}
.profile__drop-menu {
  position: absolute;
  right: 0;
  width: 80px;
  height: 115px;
  padding: 5px 10px;
  color: var(--black-color);
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  background-color: var(--white-color);
  z-index: -1;
  opacity: 0;
  transition: all .3s;
}
.drop-menu__active {
  z-index: 5;
  opacity: 1;
}
.drop-menu__title{
  position: relative;
  font-weight: 700;
}
.drop-menu__title::after{
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 10px;
  background-color: var(--accent-color);
}
.drop__menu-text {
  padding-top: 20px;
}
.drop__menu-text_login, .drop__menu-text_register {
  margin-bottom: 10px;
  display: inline-block;
}
.drop__menu-text_login:hover, .drop__menu-text_register:hover {
  font-weight: 700;
}
.header__profile-icon>img {
  width: 100%;
}
.header__profile-icon:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  transform: scale(1.1);
}
.header__burger {
  display: none;
}
.header__burger-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
  .active-overlay {
    display: block;
  }
/* ----- W E L C O M E ----- */
.welcome {
  height: 600px;
  padding-top: 218px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url('./assets/images/welcome_bg.jpg') 0 50%/cover no-repeat;;
}
.welcome__container {
  padding: 0;
}
.welcome__title {
  background-color: var(--dark-color);
  width: 42%;
  padding: 35px 40px;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* ----- A B O U T ----- */

.about__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__text {
  margin-bottom: 20px;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider__prev-btn, .slider__next-btn {
  display: none;
}
.slider__cards-container {
  position: relative;
  display: flex;
  left: 0;
  gap: 1.95%; /* 27/1440 */
  margin-bottom: 31px;
  transition: all 1s;
}
.slider__card {
  flex: 1 0 31.92%;
}
.pagination__items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__item {
  width: 26px;
  height: 26px;
  position: relative;
  transition: all .8s;
}
.pagination__item:hover {
  cursor: pointer;
}
.pagination__item[disabled] {
  cursor: default;
}
.pagination__item:hover::after {
  background-color: var(--accent-color);
}
.pagination__item::after {
  position: absolute;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--dark-color);
  left: 20%;
  top: 20%;
  border-radius: 50%;
}
.pagination__item.dot__active::after {
  background-color: var(--accent-color);
}
.pag-item5, .pag-item4 {
  display: none;
}

/* ----- Favorites ----- */
.favorites {
  padding-top: 19px;
}
.favorites__container {
  display: flex;
  flex-direction: column;
}
.favorites__title {
  align-self: center;
  margin-bottom: 58px
}
.favorites__title::after {
  left: 34%;
}
.favorites__sub-title {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}
.favourite__seasons-wrap {
  display: flex;
  width: 53%;
  align-items: center;
  margin-bottom: 40px;
}
.pick-season__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.pick-season__label {
  position: relative;
  display: flex;
  justify-content: start;
  flex: 1 0 auto;
  align-items: center;
  user-select: none;
  line-height: normal;
  transition: text-shadow .3s;
}
.pick-season__label:not(:last-child) {
  margin-right: 6.5%; /* 93/1440 */
}
.pick-season__label::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--black-color);
  border-radius: 50%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.pick-season__input:checked+label::before {
  background-image: url("./assets/icons/Group.png");
  border: 2px solid var(--black-color);
}
.pick-season__input:checked+label {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.pick-season__input:not(:disabled):not(:checked)+label:hover::before {
  border: 2px solid var(--black-color);
}
.pick-season__label::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: -12px;
  top: -7px;
  width: 140px;
  height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
}
.pick-season__label:hover::after {
  cursor: pointer;
}
.pick-season__label:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.favourites__items-wrap {
  row-gap: 42px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.favorites__items {
  display: grid;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  grid-template-columns: repeat(2, 39%);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 18.5%; /* 260/1440 */
  row-gap: 42px;
  transition: all ease 1s;
}
.favorites__item {
  height: 555px;
  position: relative;
  padding: 15px 170px 40px 20px;
  border: 1px solid var(--black-color);
}
.picked-season {
  position: relative;
  z-index: 1;
  opacity: 1;
}
.book__staff-picks {
  position: relative;
  font-family: "Forum";
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.book__staff-picks::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
}
.book__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.book_author {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.book_summary {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.book form {
  position: absolute;
  bottom: 11px;
  left: 24px;
}
.button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid var(--dark-color);
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: all .5s ease 0s;
}
.button:hover {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.own-button {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.own-button:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background-color: transparent;
  cursor: default;
}
.book__cover {
  display: inline-block;
  position: absolute;
  bottom: -10px;
  right: -45px;
}

/* ----- S H O P ----- */

.coffee-shop__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.shop__title:after {
  bottom: -21px;
  left: 39%;
}
.shop__description {
  padding-right: 8px;
  line-height: 40px;
  letter-spacing: 2px;
  max-width: 1400px;
  text-align: center;
  margin-bottom: 40px;
}
.shop__menu-wrap {
  width: 100%;
}
.menu {
  display: flex;  
  justify-content: space-between;
  gap: 30%;
}
.menu__drinks {
  flex: 0 1 31%;
}
.menu__desserts {
  flex: 0 1 35%;
  text-align: end;
  padding-right: 3px;
}
.menu__title {
  color: var(--accent-color);
  font-family: "Forum";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.menu__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item__text {
  display: inline-block;
  width: 48%;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.item__line {
  display: inline-block;
  height: 1px;
  background: var(--accent-color);
}
.menu__drinks .item__line {
  width: 22.6%;
}
.menu__desserts .item__line {
  width: 20%;
}

/* ----- C O N T A C T S----- */

.our-contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__title:after {
  left: 39%;
}
.contacts__info-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 13.958333%; /* 201/1440 */
}
.contacts__info {
  flex: 0 1 31%; /* 4503/1440 */
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contacts-info {
  flex: 0 1 48.3%; 
}
.contacts__map {
  flex: 0 1 66%; 
  height: 414px;
}
.contacts__map>iframe{
  width: 100%;
  height: 100%;
}
.contacts-info__title {
  font-weight: 700;
  margin-bottom: 40px;
}
.title-senior {
  margin-bottom: 20px;
}
.contacts-info__text {
  margin-bottom: 20px;
}
.contacts-info__text-wrap {
  margin-bottom: 40px;
}
.director-mail {
  font-weight: 700;
}
.tel, .director-mail {
  transition: text-shadow .3s;
}
.tel:hover, .director-mail:hover {
  color: var(--accent-color);
  text-shadow: 0 0 .65px #291a05, 0 0 .65px #333;
}


/* ----- L I B R A R Y   C A R D S----- */

.library-cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.library-cards__title:after {
  left: 43%;
}
.library-cards__wrap {
  padding: 0 1px;
  display: flex;
  justify-content: space-between;
  gap: 23.9%; /* 344/1440 */
}
.library-cards__find {
  flex: 0 1 43%; /* 600/1440 */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-find__title {
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}
.find-form {
  border: 3px solid var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--white-color);
  padding: 16px 22px 29px 16px;
}
.find-form__wrap {
  background: var(--accent-color);
  padding: 20px 20px 0;
  margin-bottom: 20px;
}
.find-form input {
  display: inline-block;
  width: 100%;  
  color: var(--black-color);
  border-radius: 10px;
  border: none;
  font-family: "Forum";
  font-size: 30px;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  padding: 8px 20px;
  margin-bottom: 25px;
}
.find-form input::placeholder {
  color: var(--grey-color);
  font-family: "Forum";
  font-size: 30px;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  outline: none;
}
.find-form__title {
  font-family: "Forum";
  font-size: 30px;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}
.find-form__btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.find-form__btn {
  display: inline-block;
  width: 242px;
  height: 44px;
  font-size: 20px;
  letter-spacing: 1px;
}
.card-get {
  flex: 0 1 33%; /* 456/1440 */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5px;
}
.card-get__title {
  font-family: "Forum";
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 35px;
}
.card-get__text {
  text-align: right;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
  margin-bottom: 35px;
}
.card-get__button-wrap {
  display: flex;
  gap: 20px;
}

/* ----- F O O T E R ----- */

.footer {
  background-color: var(--dark-color);
  color: #FFF;
}
.footer__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
  line-height: 20px;
  padding: 20px 5px 27px;
}
.info-links {
  flex: 0 1 16%; /* 230/1440 */
}
.info-links__adress {
  margin-bottom: 18px;
  transition: all .3s;
}
.social {
  display: flex;
  gap: 15px;
}
.social__item img{
  transition: all .3s;
}
.social__item:hover .social__icon {
  transform: scale(1.2);
}
.footer-info__open-hours {
  flex: 0 1 15%; /* 150/1440 */
  text-align: right;
}
.open__work-days {
  margin-bottom: 10px;
}
.footer__line {
  height: 1px;
  background-color: var(--white-color);
}
.footer__developer {
  padding: 44px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
}
.develop__year {
  margin-right: 1.7%; /* 24/1440 */
}
.develop__developer, .develop__school {
  transition: all .3s;
}
.info-links__adress:hover, .develop__developer:hover, .develop__school:hover {
  color: var(--accent-color);
}

/* M O D A L S */
.modals {
  z-index: 10;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 20px 25px;
  background-color: var(--white-color);
  font-family: Inter;
  font-size: 15px;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
  transition: all .5s;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.close-btn {
  position: absolute;
  top: 13px;
  right: 7px;
  background-color: transparent;
  border: none;
}
.close-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}
.modals__title {
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  line-height: 20px; 
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.modals__form-label {
  display: inline-block;
  margin-bottom: 10px;
}
.modals__input {
  height: 20px;
  width: 200px;
  font-size: 14px;
  border: 1px solid var(--accent-color);
  margin-bottom: 10px;
}
.modals__input:focus {
  border: 2px solid var(--accent-color);
}
.password-input {
  margin-bottom: 20px;
}
.modals__form .button {
  margin-bottom: 10px;
}
.modals__question {
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modals__suggestion {
  color: var(--dark-color);
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
}
.modals__suggestion:hover {
  cursor: pointer;
}
/* MODAL OPEN*/
.modal-register_open, .modal-login_open {
  display: block;

}

@media (max-width: 1420px) {
  .favorites__items {
    grid-template-columns: repeat(2, 45%);
    column-gap: 9%;
  }
  .favorites__item {
    padding: 15px 155px 40px 20px;
  }
  .book__cover {
    width: 30%;
    right: -25px;
  }
}

@media (max-width: 1150px) {
  .favorites__items {
    grid-template-columns: repeat(2, 46%);
    column-gap: 4%;
  }
  .favorites__item {
    padding: 15px 100px 40px 20px;
  }
  .book__cover {
    width: 25%;
  }
}

@media (max-width: 1024px) {
  .header-menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2;
    padding: 98px 20px;
    width: 332px;
    background-color: var(--dark-color);;
    transition: all .5s;
  }
  .header-menu__items {
    flex-direction: column;
    row-gap: 30px;
  }
  .header-menu__item {
    text-align: center;
  }
  .header__profile-icon {
    z-index: 3;
  }
  .header__burger {
    padding: 0;
    display: block;
    border: none;
    flex: 0 0 45px;
    height: 20px;
    position: relative;
    z-index: 5;
    background-color: transparent;
    margin-left: 40px;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    content: '';
    right: 0;
    top: 40%;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--white-color);
    transition: all .3s ease 0s;
  }
  .header__burger::before {
    top: -2px;
  }
  .header__burger::after {
    top: 18px;
  }
  .header__burger:hover {
    cursor: pointer;
  }
  .header__burger:hover.header__burger span, .header__burger:hover::before, .header__burger:hover::after{
    background-color: var(--accent-color);
  }
  .menu-open.header-menu__body {
    right: 0;
  }
  .menu-open.header__burger::before {
    transform: rotate(-45deg);
    top: calc(50% - 1.3px);
    right: -4px;
  }
  .menu-open.header__burger::after {
    transform: rotate(45deg);
    top: calc(50% - 2px);
    right: -6px;
  }
  .menu-open.header__burger span {
    width: 0;
  }
  .welcome__title {
    width: 77%;
  }
  .favourite__seasons-wrap {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border: 3px solid #BB945F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
  }
  .favourites__items-wrap {
    align-items: center;
    width: 80%;
    margin: auto;
  }
  .favorites__items {
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 40px;
  }
  .favorites__item {
    min-height: 555px;
  }
  .book_summary {
    max-width: none;
  }
  .book__cover {
    width: 20%;
  }
}

@media (max-width: 770px) {
  section {
    padding: 20px 0 40px 0px;
  }
  .about__text {
    padding-right: 3px;
  }
  .slider-btn {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 60.5%;
    background-color: transparent;
    border: none;
    transition: all .5s;
  }
  .slider-btn:hover {
    cursor: pointer;
  }
  .slider__prev-btn {
    background-image: url('./assets/icons/Carret_Left.svg');
    left: 10.3%;
  }
  .slider__next-btn {
    background-image: url('./assets/icons/Carret_Right.svg');
    right: 10.2%; /* 57/768 */
  }
  .slider-btn:disabled {
    cursor: default;
    opacity: 0.3;
  }
  .slider {
    width: 61%;
  }
  .slider__cards-container {
    margin: 0 auto 16px;
  }
  .slider__card {
    flex: 1 0 100%;
  }
  .pag-item5, .pag-item4 {
    display: block;
  }
  .favorites {
    padding-top: 14px;
  }
  .favorites__item {
    padding: 15px 210px 40px 20px;
  }
  .favorites__title {
    margin-bottom: 61px;
  }
  .favorites__sub-title {
    padding-left: 5px;
  }
  .pick-season__label::after {
    width: 18%; /* 140/768 */
  }
  .pick-season__label:not(:last-child) {
    margin-right: 8%;
  }
  .book form {
    left: 20px;
    bottom: 13px;
  }
  .book__cover {
    width: 34%;
    bottom: -7px;
    right: -1px;
  }
  .shop {
    padding-top: 20px;
  }
  .shop__description {
    padding-right: 0px;
  }
  .menu {
    padding-left: 5px;
    flex-direction: column;
  }
  .menu__drinks {
    margin-bottom: 40px;
    width: 60%; /* 438/768 */
  }
  .menu__drinks .item__line {
    width: 23%;
    margin-left: -7px;
  }
  .menu__desserts {
    align-self: flex-end;
    width: 66%;
    padding-right: 5px
  }
  .contacts__info-wrap {
    flex-direction: column;
    padding-left: 6px;

  }
  .contacts__info  {
    margin-bottom: 100px;
  }
  .contacts__map {
    flex: 1 1 auto;
    height: 414px;
  }
  .library-cards__wrap {
    flex-direction: column;
  }
  .find-form {
    width: 81%;
    padding: 16px 15px 29px 16px;
    margin-bottom: 21px;
  }
  .card-get {
    align-items: center;
    padding: 0;
  }
  .card-get__title {
    margin-bottom: 38px;
  }
  .card-get__text {
    width: 75%;
    text-align: center;
    margin-bottom: 41px;
  }
  .info-links {
    flex: 0 1 30%;
  }
  .footer-info__open-hours {
    flex: 0 1 25%;
  }
}

@media (max-width: 725px) {
  .favorites__item {
    padding: 15px 85px 40px 20px;
  }
  .book__cover {
    width: 25%;
    bottom: -15px;
    right: -45px;
  }
  .book_summary {
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 1px;
  }
}

@media (max-width: 550px) {
  section {
    padding: 20px 0 20px 5px;
  }
  .title {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 35px;
  }
  .welcome {
    padding-top: 100px;
  }
  .welcome__title {
    width: 100%;
    font-size: 35px;
  }
  .pick-season__label {
    font-size: 15px;
  }
  .pick-season__label:not(:last-child) {
    margin-right: 3%;
  }
  .pick-season__label::before {
    width: 13px;
    height: 13px;
    margin-right: 5%; /* 20/550 */
  }
  .favorites__item {
    padding: 15px 20px 40px 20px;
  }
  .book_summary {
    line-height: 26px;
    max-height: 75%;
    overflow: hidden;
    margin: 0;
  }
  .book__cover {
    width: 28%;
    top: -10px;
    right: -10px;
  }
  .book__title, .book_author {
    max-width: 70%;
    line-height: 30px;
    letter-spacing: 1px;
  }
  .menu {
    align-items: center;
  }
  .menu__desserts {
    align-self: center;
  }
  .menu__drinks, .menu__desserts {
    width: 90%;
    text-align: start;
  }
  .find-form {
    width: 95%;
  }
  .info-links {
    flex: 0 1 45%;
  }
  .footer-info__open-hours {
    flex: 0 1 45%;
  }
}

@media (max-width: 370px) {
  .header-menu__body {
    right: -150%;
  }
  .favourite__seasons-wrap {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  .pick-season__label {
    flex: 0 1 50%;
  }
  .pick-season__label:last-child {
    margin-right: 3%;
  }
  .pick-season__label {
    margin-bottom: 3%;
  }
  .favorites__items {
    width: 100%;
  }
  .favorites__item {
    padding: 10px 10px 35px;
  }
  .book__title, .book_author {
    font-size: 13px;
    line-height: 30px;
  }
  .book_author {
    margin-bottom: 10px;
  }
  .book_summary {
    font-size: 14px;
    max-height: 60%;
  }
  .book form {
    left: 11px;
  }
  .footer__info {
    flex-direction: column;
  }
  .info-links, .footer-info__open-hours {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    text-align: center;
    align-items: center;
  }
  .info-links {
    margin-bottom: 20px;
  }
  .footer__developer {
    padding: 25px 5px;
    font-size: 15px;
    text-align: center;
    align-items: center;
  }
}